[class^="box"] {
    background: url('../img/thumb-1.jpg') center;
    background-size: cover;
    + [class^="box"] {
        background: url('../img/thumb-2.jpg') center;
        background-size: cover;
        + [class^="box"] {
            background: url('../img/thumb-3.jpg') center;
            background-size: cover;
            + [class^="box"] {
                background: url('../img/thumb-4.jpg') center;
                background-size: cover;
                + [class^="box"] {
                    background: url('../img/thumb-5.jpg') center;
                    background-size: cover;
                }
            }
        }
    }
}
