[class^="box-"] {
    position: relative;
    float: left;
    box-sizing: border-box;
    vertical-align: top;
    &:before {
        content: ' ';
        display: block;
        padding-top: 100%;
        float: left;
    }
    &.half-height {
        &:before {
            padding-top: 50%;
        }
    }
    &.double-height {
        &:before {
            padding-top: 200%;
        }
    }
    &.triple-height {
        &:before {
            padding-top: 300%;
        }
    }
}
.box-25 {
    width: 25%;
}
.box-50 {
    width: 50%;
}
.box-75 {
    width: 75%;
}
.box-100 {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .box-25,
    .box-50,
    .box-75,
    .box-100 {
        width: 100%;
        .box-25 {
            width: 50%;
        }
    }
}
